<?xml version="1.0" encoding="utf-8"?>
<Config version="2.0">
  <Variable Name="SNMP_NET" Value="192.168.0.0/16" />
  <Variable Name="MGMT_NET" Value="192.168.0.0/16" />
    <NTP>
      <First>192.168.130.1</First>
      <Second>192.168.130.2</Second>
    </NTP>
    <SSH>
      <Enabled>True</Enabled>
      <Timeout>900</Timeout>
    </SSH>
    <Syslog>
      <Enabled>True</Enabled>
      <Server>udp://192.168.130.10:514</Server>
    </Syslog>
</Config>